<form id="search-form" onsubmit="submitSearch()">
  <div role="search" class="searchbox__wrapper">
    <input type="search" placeholder="{{t 'Search 6,000+ tutorials'}}" id="search-input" />
    <button type="submit" title="Submit your search query." class="ais-SearchBox-submit">
      <svg class="ais-SearchBox-submitIcon" xmlns="https://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 40 40">
        <path d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z" />
      </svg>
    </button>
    <div id='dropdown-container'></div>
  </div>
</form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  const client = algoliasearch('QMJYL5WYTI', '89770b24481654192d7a5c402c6ad9a0');
  const index = client.initIndex(main['algolia-index-name']);
  const screenWidth = window.screen.width;
  const screenHeight = window.screen.height;
  const hitsToRender = (screenWidth >= 767 && screenHeight >= 768) ? 8 : 5;
  const searchForm = document.getElementById('search-form');
  const input = document.getElementById('search-input');
  const dropdownContainer = document.getElementById('dropdown-container');
  let searchQuery, hitSelected, hits;

  input.addEventListener('input', e => {
    searchQuery = e.target.value;
  });

  // Prevent form from being submitted with magnifying
  // glass or enter when there is no query or hits
  searchForm.addEventListener('submit', e => {
    e.preventDefault();

    submitSearch();
  });

  const search = autocomplete('#search-input', {
      hint: false,
      keyboardShortcuts: ['s', 191],
      openOnFocus: true,
      appendTo: dropdownContainer,
      debug: true // allow tabbing through results
    }, [
    {
      source: autocomplete.sources.hits(index, { hitsPerPage: hitsToRender }),
      debounce: 250,
      templates: {
        suggestion: (suggestion, result) => {
          hits = true;
          return `
            <a href="${suggestion.url}">
              <div class="algolia-result">
                <span>${suggestion._highlightResult.title.value}</span>
              </div>
            </a>
          `;
        },
        empty: (options) => {
          hits = false;
          return `
            <div class="aa-suggestion footer-suggestion no-hits-footer">
              <div class="algolia-result">
                <span>
                  {{t "No tutorials found"}}
                </span>
              </div>
            </div>
          `;
        },
        footer: (query, result) => {
          if (!query.isEmpty) {
            return `
              <div class="aa-suggestion footer-suggestion">
                <a id="algolia-footer-selector" href="{{@site.url}}/search?query=${searchQuery}">
                  <div class="algolia-result algolia-footer">
                    <span>{{t "See all results for"}} ${searchQuery}</span>
                  </div>
                </a>
              </div>
            `;
          }
        }
      }
    }
  ]).on('autocomplete:selected', (event, suggestion, dataset, context) => {
    // If article is selected, set to URL of the article.
    // If footer is selected, set to search results path
    hitSelected = suggestion ? suggestion.url : `{{@site.url}}/search?query=${searchQuery}`;

    // Let browser handle click, and do not go to selection on tab key press
    if (context.selectionMethod === 'click' || context.selectionMethod === 'tabKey') {
      return;
    }

    // Go to selected article or footer path
    if (hits) {
      window.location.assign(hitSelected);
    }
  });

  // Go to highlighted hit or search for current query
  // when magnifying glass or enter is pressed
  function submitSearch() {
    hitSelected = document.getElementsByClassName('aa-cursor')[0];

    if (hitSelected && searchQuery) {
      const articleUrl = hitSelected.querySelector('a').href;
      window.location.assign(articleUrl);
    } else if (!hitSelected && searchQuery && hits) {
      window.location.assign(`{{@site.url}}/search?query=${searchQuery}`);
    }
  }

  // close dropbar when clicking off
  document.addEventListener('click', e => {
    if (e.target !== input) {
      search.autocomplete.close();
    }
  });
  });
</script>
