<article
    class="post-card {{post_class}} {{#unless feature_image}}no-image{{else}}{{#is "home"}}{{#if featured}}post-card-large{{/if}}{{/is}}{{/unless}}">

    {{#if feature_image}}
    <a class="post-card-image-link" href="{{url}}">
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        <img class="post-card-image" srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(min-width: 768px) 285px, 100vw"
            onerror="this.style.display='none'" src="{{img_url feature_image size="m"}}" alt="{{title}}" />
    </a>
    {{else}}
    <div class="no-feature-image-offsetter"></div>
    {{/if}}

    <div class="post-card-content">

        <div class="post-card-content-link">

            <header class="post-card-header">
                {{#if primary_tag}}
                <span class="post-card-tags">
                    {{#primary_tag}}
                    <a href="{{url}}">
                        #{{name}}
                    </a>
                    {{/primary_tag}}
                </span>
                {{/if}}
                <h2 class="post-card-title">
                    <a href="{{url}}">
                        {{title}}
                    </a>
                </h2>
            </header>

        </div>


        <footer class="post-card-meta">

            {{#has author="freeCodeCamp.org"}}
            <time class="meta-item-single">{{date published_at timeago="true"}}</time>
            {{else}}
            <ul class="author-list">
                {{#foreach authors}}
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        {{name}}
                    </div>

                    {{#if profile_image}}
                    <a href="{{url}}" class="static-avatar">
                        <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                    </a>
                    {{else}}
                    <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
                    {{/if}}
                </li>
                {{/foreach}}
            </ul>

            {{#primary_author}}
            <a class="meta-item" href="{{url}}">{{name}}</a>
            {{/primary_author}}
            <time class="meta-item">{{date published_at timeago="true"}}</time>

            {{/has}}


        </footer>

    </div>{{!--/.post-card-content--}}

</article>