<nav class="site-nav nav-padding">
    <div class="site-nav-left">
        {{> "algolia-search"}}
    </div>
    <div class="site-nav-middle">
        {{#if @site.logo}}
        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
        <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}
    </div>
    <div class="site-nav-right main-nav">
        <div class="main-nav-group">
            {{#if @site.navigation}}
            {{navigation}}
            {{/if}}
        </div>
    </div>
    <button class="site-nav-right toggle-button-nav">
        Menu
    </button>
</nav>

{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        $(".toggle-button-nav").click(function () {
            $(".nav").toggleClass("show-main-nav-items");
            $(".site-nav").toggleClass("expand-nav");
            $(".toggle-button-nav").toggleClass("reverse-toggle-color");
            $(".site-nav-left").toggleClass("display-search");
        });
    });
</script>
{{/contentFor}}