<nav class="site-nav nav-padding">
    <div class="site-nav-left">
        {{#if @site.logo}}
        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
        <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}
    </div>
    <div class="site-nav-right main-nav">
        {{#if @site.navigation}}
        {{navigation}}
        {{/if}}
    </div>
    <button class="site-nav-right toggle-button-nav">
        Menu
    </button>
</nav>

{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        $(".toggle-button-nav").click(function () {
            $(".nav").toggleClass("show-main-nav-items");
        });
        $(".toggle-button-nav").click(function () {
            $(".toggle-button-nav").toggleClass("reverse-toggle-color");
        });
        $(".toggle-button-nav").click(function () {
            $(".site-nav").toggleClass("expand-nav");
        });
    });
</script>
{{/contentFor}}