<nav class="site-nav nav-padding">
    <div class="site-nav-left">
        {{#if @site.logo}}
        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
        <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}
    </div>
    <div class="site-nav-right large-screen-nav">
        {{#if @site.navigation}}
        {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right toggle-button-nav">
        <span>Menu</span>
    </div>
</nav>