<nav class="site-nav nav-padding">
    <div class="site-nav-left">
        {{> "algolia-search"}}
    </div>
    <div class="site-nav-middle">
        {{#if @site.logo}}
        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
        <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="nav-group">
            <a class="nav-forum" href={{t "forum-url"}}>{{t "Forum"}}</a>

            <a class="toggle-button-nav" href="https://www.freecodecamp.org/donate/">
                {{t "Donate"}}
            </a>
        </div>

    </div>
</nav>