<nav class="site-nav nav-padding">
    <div class="site-nav-left">
        {{> "algolia-search"}}
    </div>
    <div class="site-nav-middle">
        {{#if @site.logo}}
        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
        <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="nav-group">
            <a class="nav-forum" id="nav-forum" rel="noopener noreferrer" target="_blank">{{t "Forum"}}</a>

            <a class="toggle-button-nav" id="nav-donate" rel="noopener noreferrer" target="_blank">
                {{t "Donate"}}
            </a>
        </div>

    </div>
</nav>

{{#contentFor "scripts"}}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navForumAnchorEl = document.getElementById('nav-forum');
        const navDonateAnchorEl = document.getElementById('nav-donate');

        navForumAnchorEl.href = main['forum-url'];
        navDonateAnchorEl.href = main['donate-url'];
    });
</script>
{{/contentFor}}
