{{!-- Everything inside the #author tags pulls data from the post --}}
<p class="social-row">

    {{#primary_author}}
    {{#if twitter}}
    {{{t "If you read this far, tweet to the author to show them you care. <a id='tweet-btn' class='cta-button'>Tweet a
        thanks</a>"}}}
    {{else}}
    {{{t "If this article was helpful, <a id='tweet-btn' class='cta-button'>tweet
        it.</a>"}}}
    {{/if}}
    {{/primary_author}}
</p>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs
--}}
{{#contentFor "scripts"}}
<script>
    // Conditionally remove social-row based on the publication language setting
    const hideSocialRowList = ['zh-cn'];
    const socialRow = document.getElementsByClassName('social-row')[0];

    if (hideSocialRowList.includes(`{{@site.lang}}`)) socialRow.remove();
    else {
        const title = `{{encode title}}`.replace(/'/g, '%27');
        const twitter = `{{primary_author.twitter}}`
        const url = window.location;
        const button = document.getElementById('tweet-btn');
        button.addEventListener('click', () => {
            if (twitter) {
                window.open(`https://twitter.com/intent/tweet?text=Thank%20you%20${twitter}%20for%20writing%20this%20helpful%20article%2e%0A%0A${title}%0A%0A${url}`, `share-twitter`, `width=550, height=235`);
                return false;
            }
            else {
                window.open(`https://twitter.com/intent/tweet?text=${title}%0A%0A${url}`, `share-twitter`, `width=550, height=235`);
                return false;
            }
        })
        console.log(twitter)
    }
</script>
{{/contentFor}}