<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-unescaped-markup.css" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Roboto+Mono:400,700" rel="stylesheet">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/algolia-search.css"}}" />

    {{!-- Algolia search assets --}}
    <script src="https://cdn.freecodecamp.org/news-assets/algolia/algoliasearch-3-33-0/algoliasearch.min.js"></script>
    <script src="https://cdn.freecodecamp.org/news-assets/algolia/autocomplete-0-36-0/autocomplete.min.js"></script>

    {{!-- Runkit embeds - NOT WORKING? TODO --}}
    {{!--
    <script src="https://embed.runkit.com"></script>
    --}}

    {{!-- dayjs and plugins for date localization --}}
    <script src="https://cdn.freecodecamp.org/news-assets/dayjs-1.9.1/dayjs.min.js"></script>
    <script src="https://cdn.freecodecamp.org/news-assets/dayjs-1.9.1/localizedFormat.min.js"></script>
    <script src="https://cdn.freecodecamp.org/news-assets/dayjs-1.9.1/relativeTime.min.js"></script>

    {{!-- dayjs locales --}}
    <script src="https://cdn.freecodecamp.org/news-assets/dayjs-1.9.1/locale/zh-cn.min.js"></script>

    {{#is "home"}}
        {{{t "keyword-meta"}}}
    {{/is}}

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

<body class="{{body_class}}">

    <div class="site-wrapper">
        {{> "site-nav"}}

        {{!-- Donation Banner --}}
        {{>"banner"}}

        <div id="error-message"></div>

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        {{> "footer"}}

    </div>

    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src="{{asset "built/jquery.fitvids.js"}}"></script>

    {{#if pagination.pages}}
    <script src="{{asset "built/infinitescroll.js"}}"></script>
    {{/if}}
    <script type="text/javascript" src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-unescaped-markup.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-markup-templating.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-bash.min.js"></script>
    <script type="text/javascript" src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-c.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-clojure.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-cpp.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-csharp.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-css.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-docker.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-elixir.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-erlang.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-git.min.js"></script>
    <script type="text/javascript" src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-go.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-graphql.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-haskell.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-java.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-javascript.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-json.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-jsx.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-kotlin.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-lua.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-markup.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-php.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-python.min.js"></script>
    <script type="text/javascript" src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-r.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-ruby.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-rust.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-scala.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-sql.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-swift.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-typescript.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.freecodecamp.org/news-assets/prism-1-16-0/prism-yaml.min.js"></script>

    {{!-- Date localization --}}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            const readMoreBtn = document.getElementById('readMoreBtn');
            const postDates = [...document.querySelectorAll('.post-date, .time-ago')];
            // Load dayjs plugins and set locale
            dayjs.extend(dayjs_plugin_localizedFormat);
            dayjs.extend(dayjs_plugin_relativeTime);
            dayjs.locale(`{{@site.lang}}`);

            const localizeDates = datesList => {
                datesList.forEach(date => {
                    const dateStr = date.getAttribute('datetime');
                    const isAgoDate = date.classList.contains('time-ago');
                    const dateObj = dayjs(dateStr);

                    // Display either time since published or month, day, and year
                    date.innerHTML = isAgoDate ? dateObj.fromNow() : dateObj.format('LL');
                });
            }

            // Localize dates on initial page load
            localizeDates(postDates);

            // Localize dates when loading more articles to the page
            const postFeed = document.getElementsByClassName('post-feed')[0];
            const config = {
                childList: true,
                attributes: true,
                subtree: true,
                characterData: true
            }
            const observer = new MutationObserver(mutations => {
                // Capture new article nodes that are appended to the page
                // and localize their dates
                const newNodes = mutations.map(mutation => [...mutation.addedNodes]).flat();
                const newPostDates = newNodes.map(node => [...node.querySelectorAll('.post-date, .time-ago')]).flat(1);
                
                observer.disconnect();
                localizeDates(newPostDates);
                observer.observe(postFeed, config);
            });
            
            // Only observe mutations on front page and search results page
            if (postFeed) observer.observe(postFeed, config);
        });
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>

</html>