{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


{{!--Special header.hbs partial to generate the <header> tag--}}
{{#tag}}
<div class="under-header-content">
    <h1 class="site-title tags-title">#{{name}}</h1>
    <h2 class="site-description">
        {{#if description}}
        {{description}}
        {{else}}
        A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
        {{/if}}
    </h2>

    <div class="tags-row">

        {{#get 'tags' limit='15' include='count.posts' order='count.posts desc'}}
        {{#foreach tags}}
        <a class='tag' href='{{ url }}'>
            <h3>#{{ name }} <small> | {{ count.posts }}</small></h3>
        </a>
        {{/foreach}}
        {{/get}}
    </div>

</div>

</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>